<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>{% block title %} Base {% endblock %}</title>
</head>

<body>
    <header>
        <nav >
        <div id="navbar" >
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('add_expenses')}}">Add Expenses</a>
            <a href="{{url_for('about')}}">About</a>
        </div>
        </nav>
    </header>

    <main class="main-content">
        <div id="content">{% block content %} {% endblock %}</div>
    </main>

    <footer>
        <div id="footer">
            <p style="text-align: center;">&copy; Copyright 2026 by Vikas Hanje.</p>
        </div>
    </footer>

</body>

</html>