{% extends "base.html" %}

{% block title %}
Edit Expense
{% endblock %}

{% block content %}

<h1>Edit Expense</h1>

<form action="{{ url_for('edit_expense', id=expense.ExpenseID) }}" method="POST">

    <label>Description:</label>
    <input type="text" name="des" value="{{ expense.Description }}" required><br>

    <label>Amount:</label>
    <input type="number" name="amt" value="{{ expense.Amount }}" step="0.01" required><br>

    <label>Date:</label>
    <input type="date" name="date" value="{{ expense.Expense_Date }}" required><br>

    <label for="category">Category</label>
    <select name="category" id="category" required>
        {% for cat in categories %}
        <option value="{{ cat.CategoryID }}" {% if cat.CategoryID == expense.CategoryID %}selected{% endif %}>{{ cat.Name }}</option>
        {% endfor %}
    </select>
    <br>

    <input type="submit" class="link-button" value="Save Edits">

</form>

{% endblock %}